.btn{
    padding: 10px 20px;
    border: none;
    transition: 0.5s;
}
.primaryy{
    background-color: var(--green);
}
.primaryy:hover{
    background-color: #fff;
    border: 1px solid var(--green);
}
.dark{
    background-color: var(--black);
    color: var(--silver);
}
.dark:hover{
    background-color: #fff;
    border: 1px solid var(--black);
}
.logout{
    background-color: var(--light-red);
    padding: 5px 10px;
    border-radius: 30px;
}
