.footer{
    line-height: 2.1;
    background-color: #333;
    color: var(--silver);
    padding: 60px 30px;
}
.footer .row{
    border-bottom: 1px solid #777;
}
.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul li{
    cursor: pointer;
    transition: 0.3s;
}
.footer ul li:hover{
    text-decoration: underline;
    color: #fff;
}
.footer h4,.footer h5{
    color: #fff;
}
.footer .icons{
    display: flex;
    gap: 20px;
}
.footer .subscription{
    display: flex;
    gap: 30px;
}
.footer .subscription input{
    width: 312px;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(245, 13, 51);
    outline: none;
    color: var(--silver);
}
.footer img{
    width: 100%;
}