.app{
    display: flex;
    height: 150vh;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5rem;
    flex-direction: column;
    margin-top: 500px;
    gap: 80px;
}
.app div{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-color: #ccc;
    box-shadow: 0 50px 50px #acacac;
}